<header class="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html" aria-label="Your Energy home">
      <img
        class="header-logo-img"
        src="./images/logo-dark.svg"
        alt="Your Energy"
        width="132"
        height="24"
      />
    </a>

    <nav class="header-nav">
      <ul class="header-nav-pill">
        <li>
          <a class="header-nav-link {=$home-active}" href="./index.html"
            >Home</a
          >
        </li>
        <li>
          <a class="header-nav-link {=$fav-active}" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="header-socials">
      <li>
        <a
          class="header-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <img
            src="./images/icons/facebook-dark.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
      <li>
        <a
          class="header-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <img
            src="./images/icons/instagram-outer-dark.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
      <li>
        <a
          class="header-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <img
            src="./images/icons/youtube-dark.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
    </ul>

    <button
      class="header-burger"
      type="button"
      aria-label="Open menu"
      data-menu-open
    >
      <img src="./images/icons/hamburger.svg" alt="" width="24" height="24" />
    </button>
  </div>
</header>

<div class="mobile-menu" data-menu>
  <div class="mobile-menu-container">
    <button
      class="mobile-menu-close"
      type="button"
      aria-label="Close menu"
      data-menu-close
    >
      <img src="./images/icons/close-light.svg" alt="" width="32" height="32" />
    </button>

    <nav class="mobile-menu-nav">
      <ul>
        <li><a class="mobile-menu-link" href="./index.html">Home</a></li>
        <li>
          <a class="mobile-menu-link" href="./favorites.html">Favorites</a>
        </li>
      </ul>
    </nav>

    <ul class="mobile-menu-socials">
      <li>
        <a
          class="mobile-menu-social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <img
            src="./images/icons/facebook-light.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
      <li>
        <a
          class="mobile-menu-social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <img
            src="./images/icons/instagram-outer-light.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
      <li>
        <a
          class="mobile-menu-social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          <img
            src="./images/icons/youtube-light.svg"
            alt=""
            width="28"
            height="28"
          />
        </a>
      </li>
    </ul>
  </div>
</div>
