@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/dm-sans-v17-latin-regular.woff2') format('woff2'),
    url('../fonts/dm-sans-v17-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/dm-sans-v17-latin-italic.woff2') format('woff2'),
    url('../fonts/dm-sans-v17-latin-italic.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('../fonts/dm-sans-v17-latin-500.woff2') format('woff2'),
    url('../fonts/dm-sans-v17-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('../fonts/dm-sans-v17-latin-700.woff2') format('woff2'),
    url('../fonts/dm-sans-v17-latin-700.woff') format('woff');
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 96%);
  --clr-neutral-400: hsl(200, 10%, 79%);
  --clr-neutral-500: hsl(0, 0%, 83%);
  --clr-neutral-800: hsl(0, 0%, 14%);

  --clr-success-500: hsl(122, 39%, 49%);
  --clr-error-400: hsl(0, 80%, 78%);

  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1rem;
  --fs-600: 1.125rem;
  --fs-700: 1.25rem;
  --fs-750: 1.375rem;
  --fs-800: 1.5rem;
  --fs-850: 1.75rem;
  --fs-900: 2rem;
  --fs-950: 2.25rem;
  --fs-1050: 2.75rem;
  --fs-1150: 3.375rem;
  --fs-1300: 4.625rem;

  --ff-base: 'DM Sans', sans-serif;

  --fw-regular: 400;
  --fw-medium: 500;

  --space-50: 0.125rem;
  --space-100: 0.25rem;
  --space-150: 0.375rem;
  --space-200: 0.5rem;
  --space-300: 0.75rem;
  --space-350: 0.875rem;
  --space-400: 1rem;
  --space-500: 1.25rem;
  --space-600: 1.5rem;
  --space-800: 2rem;
  --space-900: 2.5rem;
  --space-1000: 4rem;

  --text-primary: var(--clr-neutral-800);
  --text-light: var(--clr-neutral-200);
  --text-muted: hsl(0, 0%, 14%, 0.6);
  --text-muted-subtle: hsl(0, 0%, 14%, 0.4);
  --text-muted-light: hsl(0, 0%, 96%, 0.6);
  --text-muted-very-light: hsl(0, 0%, 96%, 0.4);
  --text-footer: var(--clr-neutral-400);

  --bg-primary: var(--clr-neutral-100);
  --bg-secondary: var(--clr-neutral-200);
  --bg-dark: var(--clr-neutral-800);
  --bg-overlay: hsl(0, 0%, 7%, 0.5);

  --border-dark: hsl(0, 0%, 14%, 0.1);
  --border-light: hsl(0, 0%, 96%, 0.1);
  --border-card: hsla(30, 37%, 92%, 0.2);

  --pagination-inactive: var(--clr-neutral-500);

  --color-success: var(--clr-success-500);
  --color-error: var(--clr-error-400);

  --font-size-body: var(--fs-500);
  --font-size-body-sm: var(--fs-400);
  --font-size-body-xs: var(--fs-300);
  --font-size-hero: var(--fs-950);
  --font-size-pagination: var(--fs-800);

  --padding-container-mobile: var(--space-500);
  --padding-container-tablet: var(--space-800);

  --radius-nav: 60px;
  --radius-btn: 30px;
  --radius-card-lg: 20px;
  --radius-card: 15px;
  --radius-badge: 15px;
  --radius-social: 10px;
  --radius-pagination: 18px;
  --radius-hero-banner-tablet: 60px;
  --radius-hero-banner-desktop: 60px;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: var(--ff-base);
  font-size: var(--font-size-body);
  line-height: 1.5;
  font-weight: var(--fw-regular);
  color: var(--text-primary);
  background-color: var(--bg-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media only screen and (min-width: 768px) {
  :root {
    --font-size-hero: var(--fs-1150);
  }
}

@media only screen and (min-width: 1440px) {
  :root {
    --font-size-hero: var(--fs-1300);
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
