.container {
  min-width: 320px;
  max-width: 375px;
  margin: 0 auto;
  padding: 0 var(--padding-container-mobile);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 var(--padding-container-tablet);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 var(--padding-container-tablet);
  }
}
