@import 'modern-normalize';
@import url('./base.css');
@import url('./container.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./exercises.css');
@import url('./quote-card.css');
@import url('./daily-norm.css');
@import url('./workout-card.css');
@import url('./favorites.css');
@import url('./pagination.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
@import url('./modal.css');
@import url('./search.css');
